@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;600;700&display=swap');

:root {
    --primary-color: #6366F1;
    --accent-color: #3f83f8;
    --text-color: #333333;
    --link-color: #2563eb;
    --background-color: #ffffff;
    --light-gray: #f0f0f0;
    --gray: #808080;
    --dark-gray: #555;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}

body {
    height: 100%;
    width: 100%;
    background-color: var(--background-color);
    box-sizing: border-box;
    overflow-x: hidden;
}

/*  header section css*/
.header {
    width: 100vw;
    background-color: #B4C4BD;
    position: fixed;
    top: 0;
    left: 0;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 2px 1rem;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 2px;
}

.logo a {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--taxt-color);
}

.logo:hover {
    background-color: #6F6866;
}

.logo a img {
    height: 1.9rem;
    padding-right: 2px;
}

#logo-title {
    font-size: 1.9rem;
    color: var(--text-color);

}

.navbar {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-menu {
    margin-right: 1.2rem;
}

.navbar-link {
    color: #555;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0 2px;
}

.navbar-link:hover {
    color: var(--link-color);
}

.contact button {
    width: 100%;
    background-color: var(--primary-color);
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    color: var(--background-color);
    cursor: pointer;
}

.contact button:hover {
    background-color: var(--link-color);
}

.menu-icon {
    height: 35px;
    width: 35px;
    border-radius: 4px;
    display: none;
    padding: 2px 3px;
    font-size: 1.2rem;
    cursor: pointer;
}

.menu-icon:hover {
    border: 2px solid gold;
}

.menu-icon #close {
    display: none;
}

/* responsive width between 650px to 850px*/
@media screen and (max-width:850px) {
    .navbar-menu {
        margin: 0 0.2rem;
    }

    .logo a img {
        height: 1.9rem;
        ;
    }

    #logo-title {
        font-size: 1.9rem;
    }

    .navbar-link {
        font-size: 1.2rem;
    }

    /* .logo img{
        height: 1.3rem;
    } */
    .contact button {
        font-size: 1rem;
    }
}

/* reposive below 720px */
@media screen and (max-width:720px) {
    .logo {
        max-width: 80vw;
    }

    .menu-icon {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar {
        position: absolute;
        width: 100%;
        height: 80vh;
        top: 60px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        border: none;
        border-radius: 5px;
        margin: 0 auto;
        background-image: linear-gradient(#8ecae6, #219ebc, #ffafcc, #a2d2ff);
        transform: translateX(100%);
        transition: transform 1s linear 0s;
    }

    .active .navbar {
        z-index: 10000;
        transform: translateX(0);
        transition: transform 1s linear 0s;
    }

    .navbar-menu {
        width: 120px;
        margin: 2px;
        padding: 6px 2px;
        border-radius: 5px;
        /* background-color: #CCDAD1; */
        background-color: #caf0f8;
        text-align: center;
    }

    .active .navbar-menu:hover {
        background-color: #CCDAD1;
    }

    .contact-menu {
        background-color: transparent;
    }

    .contact-menu:hover {
        background-color: transparent;
    }

    .active .menu-icon #bar {
        display: none;
    }

    .active .menu-icon #close {
        display: inline-block;
    }



}

/***************** hero section ***************/

.hero-section {
    width: 100vw;
    padding-top: 4rem;
    overflow-x: hidden;
}

.hero-div {
    width: 100vw;
    background-color: #ffffff;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    padding: 15px;
}

.hero-left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    animation: sider 1s linear 0.2s;
}

/* Animation */

@keyframes sider {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0%);
    }
}

.intro {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--link-color);

}

.intro-title {
    font-size: 4rem;
    color: var(--text-color);
}

.intro-content {
    /* width: 80%; */
    font-size: 1.1rem;
    color: var(--gray);
}

.hero-btn {
    display: flex;
    gap: 3rem;
    margin-top: 1rem;
}

#Start-btn,
#Tour-btn {
    font-size: 1.1rem;
    font-weight: 500;
    padding: 0.7rem 1rem;
    border-radius: 7px;
    border: none;
    color: var(--light-gray);
}

#Start-btn {
    background-color: var(--link-color);
}

#Tour-btn {
    background-color: var(--dark-gray);
}

#right-btn {
    background-color: var(--dark-gray);
}

.hero-right {
    display: flex;
    width: 50%;
    height: 100%;
    padding-left: 1rem;
    align-items: center;

}

#hero-img {
    height: 27rem;
    width: 25rem;
    border: none;
    border-radius: 20px;
}

/* make responsive */
@media screen and (max-width:850px) {
    .intro-title {
        font-size: 2.5rem;
    }

    #hero-img {
        height: 22rem;
        width: 20rem;
    }
    .hero-div {
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
    }

    .hero-right {
        width: 100%;
        justify-content: center;
    }

    .hero-left {
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero-left-content {
        text-align: center;
    }

    #hero-img {
        height: 22rem;
        width: 16rem;
    }
}


/* // company container */
.company-container {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    animation: sider 1s linear 0.3s;

}

.All-company {
    width: 50rem;
    height: 6rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: var(--light-gray);
    /* justify-items: center; */
    align-items: center;
    border: none;
    border-radius: 10px;
}

.company-title {
    font-size: 3rem;
    text-align: center;
    color: var(--text-color);
}

.company-logo-box {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0px auto;
}

.company-logo-box img {
    height: 2rem;
    width: 2rem;
}

.company-logo-box span {
    font-size: 0.8rem;
    color: var(--gray);
    font-weight: 600;
}

/* reposive for company container */
@media screen and (max-width:768px) {
    .All-company {
        grid-template-columns: repeat(2, 1fr);
        max-width: 90vw;
        height: 8rem;
    }

    .company-title {
        font-size: 2rem;
        text-align: center;
    }
}

/* feature container */

.feature-container {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    box-sizing:border-box ;
    background-color: var(--light-gray);
    overflow-x: hidden;
}

.feature-title {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.feature-header {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    color: var(--text-color)
}

.feature-content {
    text-align: center;
    font-size: 1rem;
    color: var(--gray);
}

.feature-cart-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(350px, 400px));
    gap: 2rem;
}

.feature-cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: 20px;
    border: none;
    color: var(--light-gray);
}

#cart1 {
    background-color: #4a90e2;
}

#cart2 {
    background-color: #FF6289;
}

#cart3 {
    background-color: #fcbf58;
}

#cart4 {
    background-color: #44bfc3;
}

#cart5 {
    background-color: #77b05d;
}

#cart6 {
    background-color: #7d78b1;
}

.cart-img-log-container {
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 50%;
    background-color: var(--background-color);
}

.cart-img-log {
    width: 1.6rem;
    height: 1.6rem;
}

.cart-content {
    text-align: center;
}

/*  responsive feature blog */
@media screen and (max-width:768px) {
    .feature-cart-container {
        grid-template-columns: repeat(1, minmax(200px, 500px));
    }

    .feature-header {
        font-size: 1.7rem;
    }

}

/* Testimonial container */

.testimonial-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    overflow-x: hidden;
    box-sizing: border-box;
}

.testimonial-About {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 400px));
    gap: 2rem;
    box-sizing: border-box;
}

.testimonial-person {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border: 1px solid var(--gray);
    border-radius: 20px;
    color: var(--gray);

}

.testimonial-person:hover {
    transform: scale(1.05);
    border: 1px solid var(--link-color);
}

.testimonial-person img {
    height: 5rem;
    margin: 1rem 0;
    width: 5rem;
}

.testimonial-person h4 {
    color: var(--link-color);
}

/* make reponsive testimonial section */
@media screen and (max-width: 1200px) {
    .testimonial-About {
        grid-template-columns: repeat(2, minmax(300px, 500px));

    }

    @media screen and (max-width: 750px) {
        .testimonial-About {
            grid-template-columns: repeat(1, minmax(300px, 500px));

        }
    }
}

/* newseltor section */
.newseleter-container {
    padding: 3rem;
    margin: 0 auto;
    box-sizing: border-box;
    overflow-x: hidden;
}

.newselter-content-box {
    display: flex;
    box-sizing: border-box;
    justify-content: center;

}

.newselter-left {
    width: 40%;
    display: flex;
    justify-content: center;
}

.newselter-left img {
    width: 100%;
    height: 15rem;
}

.newselter-right {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2rem;
    background-color: var(--light-gray);
}

.newselter-right h1 {
    color: var(--primary-color);
}

#sign {
    color: var(--gray);
    padding-bottom: 10px;
}

.inputform input {
    width: 15rem;
    height: 1.9rem;
    border-radius: 5px;
    border: 1px solid var(--gray);
    padding-left: 10px;
}

.inputform input:focus {
    outline: 0;
    border: 2px solid var(--link-color);
}

.inputform button {
    padding: 7px 12px;
    color: var(--background-color);
    background-color: var(--primary-color);
    border: 0;

    border-radius: 5px;
}

.inputform button:hover {
    background-color: var(--link-color);
}

#term-condition {
    color: var(--gray);
    font-size: 0.7rem;
    padding-top: 1rem;
}

#term-condition a {
    color: var(--link-color);
    text-decoration: underline;
}
/* making responsive newselter */
@media screen and (max-width:750px){
    .newseleter-container{
        padding: 1rem;
        justify-content: center;
    }
    .newselter-left{
        display: none;
    }
    .newselter-right{
        width: 100%;
        border-radius: 10px;
        border: 0;
        align-items: flex-start;
        padding: 20px;
        /* padding-bottom: 20px; */
    }
    @media screen and (max-width:450px){
        .inputform input{
            width: 10rem;
        }
        .newselter-right h1{
            font-size: 1.5rem;
        } 

    }
}

/* footer section */
.footer-container{
    display: flex;
    justify-content: space-around;
    overflow-x: hidden;
    padding: 0 2rem;
}
.footer-icon-container{
    display: flex;
    justify-content: center;
}
.footer-icon{
    display: flex;
    flex-direction: column;
    gap:1.5rem;
}
.footer-logo{
    display: flex;
    justify-content: left;
    align-items: center;
    /* background-color: #219ebc; */
    width: 60%;
}
.footer-logo img{
    height: 1.5rem;
    width: 1.5rem;
}
#footer-logo-span{
    font-size: 1.5rem;
    font-weight: 700;
    padding-left: 1rem;
    color: var(--text-color);
}
.footer-para{
    font-size: 1.1rem;
    color:var(--gray)
}
.social-media{
    display: flex;
   align-items: center;
    gap:1rem;
}
.media-link > img{
    width:2rem;
    height:2rem;
}

.footer-link-container{
    display:grid;
    grid-template-columns: repeat(4,minmax(4rem,6rem));
    column-gap:4rem;
    row-gap: 2rem;
}
.link-item-box{
    display: flex;
    flex-direction: column;
    gap:2rem;
}
.footer-menu-link{
    color: var(--gray);
    font-size: 0.9rem;
}
/* responsive footer section */
@media screen and (max-width:868px){
    .footer-container{
        flex-direction: column;
        align-items: center;
        row-gap: 2rem;
    }
    @media screen and (max-width:550px){
        .footer-link-container{
            grid-template-columns: repeat(2,minmax(4rem,6rem));
        }
    }
}

/* copy rigth */
.copy-right{
    margin-top: 2rem;
    padding: 1.5rem;
    border-top: 1px solid var(--gray);
    display: flex;
    justify-content: center;
    align-items: center;
}

.copy-right >p {
    color: var(--gray);
    font-size: 0.8rem;
}